<h1>Are you sure to delete?</h1>
<table>
    <tr>
        <th>Inquiry_Id</th>
        <td></td>
    </tr>
    <tr>
        <th>Person_in_charge</th>
        <td></td>
    </tr>
    <tr>
        <th>Pic_email</th>
        <td></td>
    </tr>
    <tr>
        <th>Created_at</th>
        <td></td>
    </tr>
    <tr>
        <th>Comment</th>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <td><form action="" method="POST">
            <button type="sbumit">delete</button>
        </form></td>
    </tr>

</table>