
<table class="inquiry_list_table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Email</th>
            <th>Updated</th>
            <th>Detail</th>
            <th>Status</th>
        </tr>
    </thead>
    <hr>
    <div id="pager">
        {% for num in inquiries_page.paginator.page_range %}
        <a href="">{{ num }}</a>
        {% endfor %}
    </div>
    <hr>
    <tbody>
        {% for inquiry in inquiries_page %}
        <tr>
            <td>{{ inquiry.id }}</td>
            <td><div class="container"><span>Name</span><span>{{ inquiry.name|truncatechars:30 }}</span></div></td>
            <td><div class="container"><span>Subject</span><span>{{ inquiry.subject|truncatechars:100 }}</span></div></td>
            <td><div class="container"><span>Message</span><span>{{ inquiry.message|truncatechars:150 }}</span></div></td>
            <td><div class="container"><span>Email</span><span>{{ inquiry.email|truncatechars:15 }}</span></div></td>
            <td><div class="container"><span>Updated</span><span>{{ inquiry.updated_at|date:"j/m/Y H:i " }}</span></div></td>
            <td><div class="container"><span>Detail</span><span><a href="{% url 'inquiry_apps:comment_list' inquiry.id %}">detail</a></span></div></td>
            <td>
                <div class="container"><span>Status</span><span>
                {% if inquiry.inquiry_status == inquiry.InquiryStatus.Pending %}
                Penging
                {% elif inquiry.inquiry_status == inquiry.InquiryStatus.Ignore %}
                Ignore
                {% else %}
                Competed
                {% endif %}
                </span></div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>