/* 全ての余白をリセット */
html{
    font-size: 16px;
}

body{
    margin: 0 20px;
}

ul, ol{
    list-style: none;
}
h1{
    color: rgba(241, 70, 233, 0.377);
}
.header {
    /* position: fixed; */
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgb(000,000,000,.5);
}
.header-bg {
    position: relative;
    z-index: 2;
    padding: 20px;
    flex-wrap: wrap;
}
.header-logo a {
    font-family: cursive;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
}
.header-cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header-cat input,
.header-cat label {
    display: none;
}
.header-navi-list {
    display: flex;
}
.header-navi-item span {
    position: relative;
}
.header-navi-item span:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 1px;
    background: #fff;
    opacity: 0;
    transition: all .8s cubic-bezier(.19,1,.22,1);
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}
.header-navi-item:hover span:after {
    opacity: 1;
    left: 0;
    width: 100%;
}
.header-navi a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    color: #fff;
}


.search_inquiry_form{
    width: 400px;
    padding: 1.5em;
    border: 1px dotted #aaafff;
    border-radius: 5px;
}

.search_inquiry_form li label{
    display: inline-block;
    width: 64px;
    margin: 5px 10px;
    text-align: right;
}

.search_inquiry_form li button{
    margin: 10px 0;
}


.inquiry_add_comment_proceed{
    display:inline;
    background: #aaaaaa;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
}




.input-field{
    background: #fddada;
    padding: 7px 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 180px;
}

.input-field:hover{
    background: #fff;
}



/* login */

.login-form,
.login-form input,
.login-form .errorlist.nonfield,
.login-form div,
.login-form button{
    box-sizing: border-box;
    width: 200px;
    margin: 14px auto 5px auto;
}

/* login */


/* profile */

.edit-profile-form{
    box-sizing: border-box;
    width: 500px;
    padding: 1em;
    margin: 0 auto;
}

/* profile-image */
.edit-profile-form div{
    text-align: center;
    margin-left: 30px;s
}

/* last-login */
.last-login{
    font-size: 14px;
    color: #aaa;
}


/* profile */




/* table */
table tr td{
    padding: 10px;
}

.inquiry_list_table thead,
.comment_list_table thead{
    background: rgba(55, 55, 255, .4);    
}

.inquiry_list_table tr:nth-child(odd) td,
.comment_list_table tr:nth-child(odd) td{
    background: rgba(161, 230, 233, 0.192);
}

.inquiry_list_table tbody tr td div span:first-child,
.comment_list_table tbody tr td div span:first-child{
    display: none;
}

table tr .inquiry_status span{
    color: white;
    padding: 5px;
    border-radius: 5px;
    background: #fd0000;
    font-weight: bold;
}

/* table */

.btn{
    padding: 3px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
}


.btn:hover{
    opacity: .7;
}


/* index */
.btn-border{
    display: inline-block;
    max-width: 235px;
    text-align: left;
    border: 2px solid rgb(226, 141, 108);
    font-size: 20px;
    color: rgb(226, 141, 108);
    text-decoration: none;
    font-weight: bold;
    padding: 37px 16px;
    margin: 10px 10px;
    border-radius: 4px;
    transition: .4s;
}

.btn-border:hover{
    background-color: rgb(226, 141, 108);
    border-color: rgb(226, 141, 108);
    color: #fff;
}

.btn-border-manage{
    display: inline-block;
    max-width: 235px;
    text-align: left;
    border: 2px solid rgb(85, 119, 231);
    font-size: 20px;
    color: rgb(85, 119, 231);
    text-decoration: none;
    font-weight: bold;
    padding: 37px 16px;
    margin: 10px 10px;
    border-radius: 4px;
    transition: .4s;
}

.btn-border-manage:hover{
    background-color: rgb(85, 119, 231);
    border-color:rgb(85, 119, 231);
    color: #fff;
}

/* index */




.footer {
    text-align: center;
}


.errorlist{
    color: rgb(255, 0, 0 );
    background: rgba(255, 0, 0, .3);
    border-radius: 5px;
    padding: 0 20px;
}





@media screen and (max-width: 768px) {
    html {
        font-size: 16px;
    }

    table th{
        text-align:right;
    }

    .header-bg {
        padding: 10px;
    }
    .header-logo a {
        font-size: 1.2rem;
    }

    .header-cat input,
    .header-cat label {
        display: block;
    }
    .header-cat input {
        display: none;
    }
    .header-cat label {
        position: absolute;
        right: 10px;
        clear: both;
    }
    span.hamburger-icon {
        display: inline-block;
        width: 35px;
        height: 25px;
    }
    span.hamburger-icon i {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        display: block;
        transition: all .3s ease-in-out;
    }
    span.hamburger-icon i:nth-child(1) {
        top: 0;
    }
    span.hamburger-icon i:nth-child(2) {
        margin: auto;
        top: 0;
        bottom: 0;
    }
    span.hamburger-icon i:nth-child(3) {
        bottom: 0;
    }
    .header-cat input:checked + label span.hamburger-icon i:nth-child(1) {
        margin: auto;
        transform: rotate(45deg);
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
    }
    .header-cat input:checked + label span.hamburger-icon i:nth-child(2) {
        transform: rotateX(90deg);
        top: 0;
        bottom: 0;
    }
    .header-cat input:checked + label span.hamburger-icon i:nth-child(3) {
        margin: auto;
        transform: rotate(-45deg);
        top: 0;
        right: 0;
        bottom: 0;
    }
    .header-cat input:checked ~ .header-navi {
        z-index: 99;
        opacity: 1;
        transform: translateX(0);
    }
    .header-navi {
        position: fixed;
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.7);
        top: 50px;
        right: 0;
        transform: translateX(100%);
        bottom: 0;
        left: 0;
        z-index: -1;
        transition: all .2s ease-out;
    }
    .header-navi-wrap {
        width: 100%;
        background-color: rgba(0, 0, 0, .2);
        position: absolute;
        right: 0;
        top: 0px;
        bottom: 0;
        transition-duration: .2s;
        transition-property: right;
        overflow-y: scroll;
    }
    .header-cat input:checked ~ .header-navi .header-navi-wrap {
        right: 0;
    }
    .header-navi-list {
        margin: 0;
        display: block;
        justify-content: inherit;
    }
    .header-navi-item {
        border-bottom: 1px solid #000;
    }
    .header-navi-item a {
        padding: 0 50px;
        color: #000;
        font-size: 24px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-weight: 700;
        line-height: 1;
        transition: background-color .3s ease-in-out;
    }

    /* table; */
    .inquiry_list_table,
    .comment_list_table{
        width: 97%;
    }

    .inquiry_list_table thead tr th,
    .comment_list_table thead tr th{
        display: none;
    }

    .inquiry_list_table td,
    .comment_list_table td{
        display: inline-block;
        width: 100%;
        border: 1px dotted #aaafff;
    }

    .inquiry_list_table tbody tr td:first-child,
    .comment_list_table tbody tr td:first-child{
        background: rgb(218, 165, 231);
        color: #ffffff;
        text-align: center;
        font-weight: bold;
    }

    .inquiry_list_table .container,
    .comment_list_table .container{
        display: flex;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .inquiry_list_table .container span:first-child,
    .comment_list_table .container span:first-child{
        display: inline;
        color: #8a7790;
        flex-basis: 6em;
        text-align: left;
    }

    .inquiry_list_table span:last-child,
    .comment_list_table span:last-child{
        flex-basis: calc(100% - 6em);
        word-break: break-all;
    }


    /* table */


}