{% extends 'inquiry_apps/base.html' %}
{% block page_title %}Edit profile{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<h1>Edit profile</h1>
<p>YOu can change your profile</p>
<form action="" method="post" class="edit-profile-form">
    {% csrf_token %}
    <a href=""><img src="http://placeholder.jp" alt=""></a>
    <ul>
        <li>
            <div><a href=""><img src="http://placehold.jp/150x150.png" alt=""></a></div>
        </li>
        <li>
            <label for="">last login:</label>
            <span>{{ user.last_login|date:"Y-m-j H:i " }}</span>
        </li>
        <li>
            <label for="id_name">name:</label>
            {{ form.username }}{{ form.username.errors }}
        </li>
        <li>
            <label for="id_email">Email:</label>
            {{ form.email }}
        </li>
        <li>
            <label>Password:</label>
            <span>Current password</span>
        </li>
        <li>
            <label for="id_password"></label>
            <span>{{ form.password }}{{ form.password.errors }}</span>
        </li>
        <li>
            <label for=""></label>
            <span>New password:</span>
        </li>
        <li>
            <label for="id_password"></label>
            {{ form.password }}
        </li>
        <li>
            <label for="id_password"></label>
            <span>Confirm new password:</span>
        </li>
        <li>
            <label for=""></label>
            {{ form.password }}
        </li>
        <li>
            <label for=""></label>
            <button type="submit">Update</button>
        </li>
    </ul>


</form>





{% endblock %}