{% extends 'inquiry_apps/base.html' %}
{% block page_title %}Comment list{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
<h1>Id:{{ inquiry.id }}</h1>
<table class="inquiry_table">
    <tr>
        <th>Id:</th>
        <td>{{ inquiry.id }}</td>
    </tr>
    <tr>
        <th>Name:</th>
        <td>{{ inquiry.name }}</td>
    </tr>
    <tr>
        <th>Subject:</th>
        <td>{{ inquiry.subject }}</td>
    </tr>
    <tr>
        <th>Message:</th>
        <td>{{ inquiry.message }}</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>{{ inquiry.email }}</td>
    </tr>
    <tr>
        <th>Updated:</th>
        <td>{{ inquiry.updated_at|date:"Y-m-j H:i" }}</td>
    </tr>
    <tr>
        <th>InquiryStatus:</th>
        <td class="inquiry_status">
        <span>
        {% if inquiry.inquiry_status == inquiry.InquiryStatus.Pending %}
        Pending
        {% elif inquiry.inquiry_status == inquiry.InquiryStatus.Ignore %}
        Ignore
        {% else %}
        Completed
        {% endif %}
        </span>
        </td>
    </tr>

</table>
<hr>
<h1>respond Id:{{ inquiry.id }}</h1>
<h2 class='inquiry_add_comment_proceed'><a href="{% url 'inquiry_apps:comment_add' inquiry.id %}">+respond</a></h2>

<hr>
<h1>Id:{{ inquiry.id }}-Comment list</h1>
<table class="comment_table">
    <thead>
        <tr>
            <th>Id</th>
            <th>PIC</th>
            <th>Pic_email</th>
            <th>Updated_at</th>
            <th>Status</th>
            <th>Comment</th>
            <th>Edit</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        {% for comment in comment_list %}
        <tr>
            <td>{{ comment.id }}</td>
            <td>
            {% if comment.pic == comment.PersonInCharge.Andrew %}
            Andrew
            {% elif comment.pic == comment.PersonInCharge.William %}
            William
            {% else %}
            Emma
            {% endif %}
            </td>
            <td>{{ comment.pic_email }}</td>
            <td>{{ comment.updated_at }}</td>
            <td>Status""</td>
            <td>{{ comment.comment }}</td>
            <td>Edit""</td>
            <td><a href="{% url 'inquiry_apps:comment_delete' inquiry.id comment.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}