{% extends 'inquiry_apps/base.html' %}
{% block page_title %}Comment list{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
<h1>Id:{{ inquiry.id }}</h1>
<table class="inquiry_table">
    <tr>
        <th>Id:</th>
        <td>{{ inquiry.id }}</td>
    </tr>
    <tr>
        <th>Name:</th>
        <td>{{ inquiry.name }}</td>
    </tr>
    <tr>
        <th>Subject:</th>
        <td>{{ inquiry.subject }}</td>
    </tr>
    <tr>
        <th>Message:</th>
        <td>{{ inquiry.message }}</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>{{ inquiry.email }}</td>
    </tr>
    <tr>
        <th>Updated:</th>
        <td>{{ inquiry.updated_at|date:"Y-m-j H:i" }}</td>
    </tr>
    <tr>
        <th>InquiryStatus:</th>
        <td class="inquiry_status">
        <span>
        {% if inquiry.inquiry_status == inquiry.InquiryStatus.Pending %}
        Pending
        {% elif inquiry.inquiry_status == inquiry.InquiryStatus.Ignore %}
        Ignore
        {% else %}
        Completed
        {% endif %}
        </span>
        </td>
    </tr>

</table>
<hr>
<h1>respond Id:{{ inquiry.id }}</h1>
<h2 class='inquiry_add_comment_proceed'><a href="{% url 'inquiry_apps:comment_add' inquiry.id %}">+respond</a></h2>

<hr>
<h1　style='color:rgba(000,000,255,0.3)'>Processing status</h1>
<h1>Id:{{ inquiry.id }}-Comment list</h1>
<table class="comment_table">
    <thead>
        <tr>
            <th>Id</th>
            <th>PIC</th>
            <th>Pic_email</th>
            <th>Updated_at</th>
            <th>Status</th>
            <th>Comment</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for inquiry_comment in inquiry_comments %}
        <tr>
            <td>{{ inquiry_comment.id }}</td>
            <td>
            {% if inquiry_comment.pic == comment.PersonInCharge.Andrew %}
            Andrew
            {% elif inquiry_comment.pic == comment.PersonInCharge.William %}
            William
            {% else %}
            Emma
            {% endif %}
            </td>
            <td>{{ inquiry_comment.pic_email }}</td>
            <td>{{ inquiry_comment.updated_at }}</td>
            <td>
            {% if inquiry_comment.inquiry_status == inquiry.InquiryStatus.Pending%}
            Pending
            {% elif inquiry_comment.inquiry_status == inquiry.InquiryStatus.Ignore %}
            Ignore
            {% else %}
            Completed
            {% endif %}
            </td>
            <td>{{ inquiry_comment.comment|truncatechars:150 }}</td>
            <td><a href="{% url 'inquiry_apps:edit_comment' inquiry.id inquiry_comment.id %}">Edit</a></td>
            <td><a href="{% url 'inquiry_apps:delete_comment' inquiry.id inquiry_comment.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if inquiry_comments.has_previous %}
<a href="?page={{ inquiry_comments.previous_page_number }}">◀︎Prev</a>
{% endif %}


Page {{ inquiry_comments.number }} of {{ inquiry_comments.paginator.num_pages }}


{% if inquiry_comments.has_next %}
<a href="?page={{ inquiry_comments.next_page_number }}">▶︎Next</a>
{% endif %}



{% endblock %}