{% extends 'inquiry_apps/base.html' %}
{% block page_title %}Inquiry list{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<h1>Inquiry list</h1>
<form method="get">
    <ul class="search_inquiry_form">
        <li>
            <label for="id">Id:</label>
            <!-- <input type="number" name="id" min="1"> -->
            <span class="input_field">{{ form.id }}{{ form.id.errors }}</span>
        </li>
        <li>
            <label for="">Email:</label>
            <!-- <input type="text" name="email"> -->
            <span class="input_field">{{ form.email }}{{ form.email.erros }}</span>
        </li>
        <li>
            <label for="">Word:</label>
            <!-- <input type="text" name="message"> -->
            <span class="input_field">{{ form.word }}{{ form.word.erros }}</span>
        </li>
        <li>
            <label for=""></label>
            <span>※Word can find subject and message</span>
        </li>
        <li>
            <label for=""></label>
            <button type="submit" class="btn">Search</button>
        </li>

    </ul>
</form>


<hr>

{% if inquiries_page.has_previous %}
<a href="{{ prev_page_href }}">◀︎Prev</a>
{% endif %}




{% for num in inquiries_page.paginator.page_range %}
{% if inquiries_page.number == num %}
<span>{{ num }}</span>
{% else %}
<a href="?email={{ search_email }}&page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if inquiries_page.has_next %}
<a href="{{ next_page_href }}">Next▶︎</a>
{% endif %}

<table class="inquiry_list_table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Subject</td>
            <td>Message</td>
            <td>Email</td>
            <td>Updated</td>
            <td>Detail</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        {% for inquiry in inquiries_page %}
        <tr>
            <td>{{ inquiry.id }}</td>
            <td><div class="container"><span>Name</span><span>{{ inquiry.name }}</span></div></td>
            <td><div class="container"><span>Subject</span><span>{{ inquiry.subject }}</span></div></td>
            <td><div class="container"><span>Message</span><span>{{ inquiry.message }}</span></div></td>
            <td><div class="container"><span>Email</span><span>{{ inquiry.email }}</span></div></td>
            <td><div class="container"><span>Updated</span><span>{{ inquiry.updated_at|date:"j/m/Y H:i " }}</span></div></td>
            <td><div class="container"><span>Detail</span><span><a href="{% url 'inquiry_apps:comment_list' inquiry.id %}">detail</a></span></div></td>
            <td>
                <div class="container"><span>Status</span><span>
                {% if inquiry.inquiry_status == inquiry.InquiryStatus.Pending %}
                Penging
                {% elif inquiry.inquiry_status == inquiry.InquiryStatus.Ignore %}
                Ignore
                {% else %}
                Competed
                {% endif %}
                </span></div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if not inquiries_page.object_list %}
<h1>Data does not exist!</h1>
{% endif %}

{% if inquiries_page.has_previous %}
<a href="{{ prev_page_href }}">◀︎Prev</a>
{% endif %}

{% for num in inquiries_page.paginator.page_range %}
{% if inquiries_page.number == num %}
<span>{{ num }}</span>
{% else %}
<a href="?email={{ search_email }}&page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}


{% if inquiries_page.has_next %}
<a href="{{ next_page_href }}">Next▶︎</a>
{% endif %}


{% endblock %}